<section id="details" class="details">
      <div class="container">

        <div class="row content">
          <div class="col-md-4 aos-init aos-animate" data-aos="fade-right">
            <img src="~/assets/img/details-1.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4 aos-init aos-animate" data-aos="fade-up">
                <h3>What is an Apprenticeship Project? </h3>
            <ul>
                    <li><i class="bi bi-check"></i> It is an interactive platform that includes the student, the university supervisor, and the training supervisor.</li>
                    <li><i class="bi bi-check"></i> Software services that help the university supervisor follow up on the student’s training and help the student follow up on his evaluation from the training supervisor.</li>
                    <li><i class="bi bi-check"></i> A responsive website that is compatible with computers, iPads, and mobile devices.</li>
            </ul>
           
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 aos-init aos-animate" data-aos="fade-right">
            <img src="~/assets/img/details-3.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 aos-init aos-animate" data-aos="fade-up">
                <h3>Why is our project important for a university or student company?</h3>
            <ul>
                    <li><i class="bi bi-check"></i> The training supervisor has full control over the tasks assigned to the student.</li>
                    <li><i class="bi bi-check"></i>Continuous supervision by the university supervisor of the students during the training.</li>
                    <li><i class="bi bi-check"></i>Find out the extent of the achievement of the student during the training.</li>
            </ul>
          </div>
        </div>

        <div class="row content mb-5">
          <div class="col-md-4 order-1 order-md-2 aos-init aos-animate" data-aos="fade-left">
            <img src="~/assets/img/details-4.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1 aos-init aos-animate" data-aos="fade-up">
                <h3>Who are the people that our website will be very useful for him?</h3>
            <ul>
                    <li><i class="bi bi-check"></i><b>Firstly</b>: admin which he can add site information, updating information when needing, adding new users and creating new training with full details.</li>
                    <li><i class="bi bi-check"></i><b>Second</b> : Team Leader which he can adding or editing tasks for the student, setting the objectives for the task, and approving or rejecting the task</li>
                    <li><i class="bi bi-check"></i><b> Third</b>: university supervisor which follows up on the student’s condition during training by reviewing the status of the tasks assigned to him and knowing the extent of the student’s achievement during the training.</li>
                    <li><i class="bi bi-check"></i><b>  Finally</b>: The student which can view the tasks assigned to him, Submit the task after completing work on it, and follow up on the task evaluation by the team leader.</li>
            </ul>
          </div>
        </div>

      </div>
    </section>




   


                            














@* <section id="testimonials" class="testimonials section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h3>ABOUT US</h3>
        </div>

        <div class="testimonials-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper" id="swiper-wrapper-eda1dfd6f09cdd3f" aria-live="off" style="transform: translate3d(-3340px, 0px, 0px); transition-duration: 0ms;">
              

            

                <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="2" role="group" aria-label="3 / 5" style="width: 628px; margin-right: 40px;">
                    <div class="testimonial-item">
                        <img src="~/~/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Who are the people that our website will be very useful for him? </h3>
                      
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Firstly: admin which he can add site information, updating information when needing, adding new users and creating new training with full details.
                            <br />
                            <br />
                            Second: Team Leader which he can adding or editing tasks for the student, setting the objectives for the task, and approving or rejecting the task
                            
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="2" role="group" aria-label="3 / 5" style="width: 628px; margin-right: 40px;">
                    <div class="testimonial-item">
                        <img src="~/~/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Who are the people that our website will be very useful for him? </h3>

                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                         
                            Third: university supervisor which follows up on the student’s condition during training by reviewing the status of the tasks assigned to him and knowing the extent of the student’s achievement during the training.
                            <br />
                            <br />
                            Finally: The student which can view the tasks assigned to him, Submit the task after completing work on it, and follow up on the task evaluation by the team leader.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>


                <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="3" role="group" aria-label="4 / 5" style="width: 628px; margin-right: 40px;">
                    <div class="testimonial-item">
                        <img src="~/~/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        Why is our project important for a university or student company?
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            1- The training supervisor has full control over the tasks assigned to the student.
                            <br />
                            <br />
                            2- Continuous supervision by the university supervisor of the students during the training.
                            <br />
                            <br />
                            3- Find out the extent of the achievement of the student during the training.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="4" role="group" aria-label="5 / 5" style="width: 628px; margin-right: 40px;">
                    <div class="testimonial-item">
                        <img src="~/~/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3> What is an Apprenticeship Project?</h3>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            1-It is an interactive platform that includes the student, the university supervisor, and the training supervisor.
                            <br />
                            <br />
                            2-Software services that help the university supervisor follow up on the student’s training and help the student follow up on his evaluation from the training supervisor.
                            <br />
                            <br />
                            3-A responsive website that is compatible with computers, iPads, and mobile devices
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                
               
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 4" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>

    </div>
</section> *@

