<div class="wrapper d-flex align-items-stretch">
<div id="content">
    <div class="header">
        <ul>
            <li><a href="#"><img src="~/images/notification-icon.svg"></a></li>
            <li><a href="#"><img src="~/images/Icon-language.svg"> <span> العربية</span></a></li>
        </ul>
        <p class="user-info"><img src="~/images/user-icon.svg"> <span>Ahmad Ali</span></p>
    </div>
    <div class="row mb-4">
        <div class="col-12 page-title">
            <h5>Credential management system</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="credentials-sec">
                <div class="credential-info">
                    <img src="~/images/cred-info-1.svg">
                    <div class="credential-details">
                        <h6>18</h6>
                        <p>Total Number of <span>Credentials</span></p>
                    </div>
                </div>
                <div class="credential-info">
                    <img src="~/images/cred-info-2.svg">
                    <div class="credential-details">
                        <h6>3</h6>
                        <p>Total Number of <span>Credential Holders</span></p>
                    </div>
                </div>
                <div class="credential-info">
                    <img src="~/images/cred-info-3.svg">
                    <div class="credential-details">
                        <h6>3</h6>
                        <p>Total Number of <span>Credential Profiles</span></p>
                    </div>
                </div>
                <div class="credential-info">
                    <img src="~/images/cred-info-4.svg">
                    <div class="credential-details">
                        <h6>21</h6>
                        <p>Total Number of <span>Personalisation Orders</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="ca-po-sec">
                <div class="chart-sec">
                    <div class="chart-block">
                        <p>Chart title <span>15 April - 15 May</span></p>
                        <img src="~/images/Donut-size.png">
                    </div>
                    <div class="chart-block">
                        <p>Chart title goes here <span>15 April - 21 April</span></p>
                        <img src="~/images/chart.png">
                    </div>
                    <div class="chart-block fw-chart">
                        <p>Chart title goes here <span>Last 6 months</span></p>
                        <img src="~/images/chart-1.png">
                    </div>
                </div>
                <div class="po-sec">
                    <div class="title">
                        <h6>Personalisation Orders</h6>
                        <p>
                            Show Statistics for
                            <select>
                                <option>All Status</option>
                            </select>
                        </p>
                    </div>
                    <div class="po-orders">
                        <div class="po-order-item">
                            <img src="~/images/po-plus.svg">
                            <p>11 <span>Created Orders</span></p>
                        </div>
                        <div class="po-order-item">
                            <img src="~/images/po-cross.svg">
                            <p>3 <span>Cancelled Orders</span></p>
                        </div>
                    </div>
                    <div class="sub-title">
                        <h6>Printing</h6>
                    </div>
                    <div class="po-orders">
                        <div class="po-order-item">
                            <img src="~/images/po-plus.svg">
                            <p>11 <span>Created Orders</span></p>
                        </div>
                        <div class="po-order-item">
                            <img src="~/images/po-cross.svg">
                            <p>3 <span>Cancelled Orders</span></p>
                        </div>
                        <div class="po-order-item">
                            <img src="~/images/po-check.svg">
                            <p>11 <span>Printed Orders</span></p>
                        </div>
                    </div>
                    <div class="sub-title">
                        <h6>Quality Check</h6>
                    </div>
                    <div class="po-orders">
                        <div class="po-order-item">
                            <img src="~/images/po-check.svg">
                            <p>11 <span>Quality Checked</span></p>
                        </div>
                        <div class="po-order-item">
                            <img src="~/images/po-cross.svg">
                            <p>3 <span>Failed Check</span></p>
                        </div>
                    </div>
                    <div class="sub-title">
                        <h6>Delivery</h6>
                    </div>
                    <div class="po-orders">
                        <div class="po-order-item">
                            <img src="~/images/po-check.svg">
                            <p>11 <span>Delivered Orders</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>